<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring5legacy.ourpro00.mapper.CommentMapper">

   <!-- 특정 구인글의 댓글 목록 조회 -->
   <select id="selectCommentList" resultType="com.spring5legacy.ourpro00.domain.CommentVO">
      SELECT rno, bno, rcontent, rwriter, rregDate, rblind
      FROM ouruser.tbl_reply
      WHERE bno = #{bno} ORDER BY rno DESC
   </select>
   
   <!-- 특정 구인글에 대한 댓글 등록 -->
   <insert id="insertComment" parameterType="com.spring5legacy.ourpro00.domain.CommentVO">
      INSERT INTO ouruser.tbl_reply
      VALUES (ouruser.seq_tbl_reply.NEXTVAL, #{bno}, #{rcontent}, #{rwriter}, DEFAULT, DEFAULT) 
   </insert>
   
   <!-- 특정 댓글 수정 -->
   <update id="updateComment">
      UPDATE ouruser.tbl_reply
         SET rcontent = #{rcontent}, 
            rregDate = DEFAULT
       WHERE rno = #{rno} AND bno = #{bno}
   </update>
   
   <!-- 특정 댓글 블라인드 -->
   <update id="blindComment" parameterType="com.spring5legacy.ourpro00.domain.CommentVO">
		UPDATE ouruser.tbl_reply
        SET rblind = 1
        WHERE bno = #{bno} and rno = #{rno}
	</update>
   
   <!-- 특정 댓글 삭제 -->
   <delete id="deleteComment">
      DELETE FROM ouruser.tbl_reply
       WHERE rno = #{rno}  AND bno = #{bno}
   </delete>
</mapper>