<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring5legacy.ourpro00.mapper.RecruiterMapper">

	<!-- 구인글 목록 조회 -->
	<select id="selectRecruitList" resultType="com.spring5legacy.ourpro00.domain.RecruiterVO">
		SELECT bno, bwriter, bregdate, benddate, breplycnt, bappcnt
		FROM tbl_hiring
	</select>
	
	<!-- 특정 구인글 조회 -->
	<select id="selectRecruit" resultType="com.spring5legacy.ourpro00.domain.RecruiterVO">
		select bno, btitle, bcontent, bwriter, bregdate, benddate, breplycnt, bappcnt,
       				 bblind, boccupation, bregion
    		FROM ouruser.tbl_hiring
    	WHERE bno = #{bno}
	</select>
	
	<!-- 구인글 총 수 -->
	<select id="selectRowTotal" resultType="Long">
		select count(*) FROM ouruser.tbl_hiring
	</select>
	
	<!-- 구인글 등록 -->
	<insert id="insertRecruit">
		<selectKey keyProperty="bno" order="BEFORE" resultType="Long">
			SELECT ouruser.seq_tbl_hiring.nextval FROM DUAL
		</selectKey>
			INSERT INTO ouruser.tbl_hiring
				VALUES (#{bno}, #{btitle}, #{bcontent}, #{bwriter}, DEFAULT,
       			 				 #{benddate}, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT) 
	</insert>
	
	<!-- 특정 구인글 수정 -->
	<update id="updateRecruit">
		UPDATE ouruser.tbl_hiring
    		SET btitle = #{btitle}, 
        			bcontent = #{bcontent}, 
      				bendDate = #{bendDate}
   		 WHERE bno = #{bno} 
	</update>
	
	<!-- 특정 구인글 지원수 증가 : 지원시 + 1 -->
	<update id="updateBappcnt">
		UPDATE ouruser.tbl_hiring
				SET bappcnt= bappcnt+ 1
		WHERE bno = #{bno}
	</update>
	
	<!-- 특정 구인글 블라인드 처리 -->
	<update id="updateDelFlag">
		UPDATE ouruser.tbl_hiring
  			  SET bblind = 1
   		 WHERE bno = #{bno} 
	</update>
	
	<!-- 특정 구인글 삭제 -->
	<delete id="deleteRecruit">
		DELETE FROM ouruser.tbl_hiring WHERE bno = #{bno}
	</delete>
	
</mapper>