<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring5legacy.ourpro00.mapper.RecruiterMapper">


	<!-- 구인글 목록 조회 -->
	<select id="selectRecruitList" resultType="com.spring5legacy.ourpro00.domain.RecruiterVO">
		SELECT bno, btitle, bwriter, bregDate, bendDate, breplyCnt, bappCnt, bhcnt
		FROM tbl_hiring
		ORDER BY bno DESC
	</select>
	
	<!-- 특정 구인글 조회 -->
	<resultMap id="RecruiterAttachFileVOMap" type="com.spring5legacy.ourpro00.domain.RecruiterAttachFileVO">
		<result property="bUuid" column="bUuid"></result>
		<result property="bFileName" column="bFileName"></result>
		<result property="bno" column="bno"></result>
		<result property="bDelFlag" column="bDelFlag"></result>
		<result property="bUploadPath" column="bUploadPath"></result>
		<result property="bRepoPath" column="bRepoPath"></result>
	</resultMap>
	<resultMap id="RecruiterVOMap" type="com.spring5legacy.ourpro00.domain.RecruiterVO">
		<result property="bno" column="bno"></result>
		<result property="btitle" column="btitle"></result>
		<result property="bcontent" column="bcontent"></result>
		<result property="bwriter" column="bwriter"></result>
		<result property="bregDate" column="bregDate"></result>
		<result property="bendDate" column="bendDate"></result>
		<result property="breplyCnt" column="breplyCnt"></result>
		<result property="bappCnt" column="bappCnt"></result>
		<result property="bblind" column="bblind"></result>
		<result property="boccupation" column="boccupation"></result>
		<result property="bregion" column="bregion"></result>
		<result property="bhcnt" column="bhcnt"></result>
		<collection property="attachFileList" resultMap="RecruiterAttachFileVOMap"></collection>
	</resultMap>
	<select id="selectRecruit" resultMap="RecruiterVOMap">
		SELECT a.BNO, a.BTITLE, a.BCONTENT, a.BWRITER, 
		       a.BREGDATE, a.bendDate, a.breplyCnt, a.bappCnt, a.bblind, a.boccupation, a.bregion, a.bhcnt, 
               b.bUuid, b.bFileName, b.bno, b.bDelFlag, b.bUploadPath
          FROM ouruser.tbl_hiring a LEFT OUTER JOIN ouruser.tbl_hireattachfile b ON (a.bno = b.bno)
         WHERE a.bno = #{bno}
	</select>
	
	<!-- 구인글 총 수 -->
	<select id="selectRowTotal" resultType="Long">
		select count(*) FROM ouruser.tbl_hiring
	</select>
	
	<!-- 구인글 등록 -->
	<insert id="insertRecruit">
		<selectKey keyProperty="bno" order="BEFORE" resultType="Long">
			SELECT ouruser.seq_tbl_hiring.nextval FROM DUAL
		</selectKey>
			INSERT INTO ouruser.tbl_hiring
				VALUES (#{bno}, #{btitle}, #{bcontent}, #{bwriter}, DEFAULT,
       			 				 #{bendDate}, DEFAULT, DEFAULT, DEFAULT, #{boccupation}, #{bregion}, #{bhcnt}) 
	</insert>
	
	<!-- 특정 구인글 수정 -->
	<update id="updateRecruit">
		UPDATE ouruser.tbl_hiring
    		SET 
    			btitle = #{btitle}, 
   				bcontent = #{bcontent}, 
    			bendDate = #{bendDate}, 
    			boccupation = #{boccupation}, 
    			bregion = #{bregion}, 
    			bhcnt = #{bhcnt}
   		 	WHERE bno = #{bno} 
	</update>
	
	<!-- 특정 구인글 지원수 증가 : 지원시 + 1 -->
	<update id="updateBappcnt">
		UPDATE ouruser.tbl_hiring
				SET bappCnt= bappCnt+ 1
		WHERE bno = #{bno}
	</update>
	
	<!-- 특정 구인글 블라인드 처리 -->
	<update id="updateDelFlag">
		UPDATE ouruser.tbl_hiring
  			  SET bblind = 1
   		 WHERE bno = #{bno} 
	</update>
	
	<!-- 특정 구인글 삭제 -->
	<delete id="deleteRecruit">
		DELETE FROM ouruser.tbl_hiring WHERE bno = #{bno}
	</delete>
	
	
	<!-- * -->
	<!-- userid의 username을 찾기 -->
<!-- 	<select id="findRecruiter" resultType="String">
		SELECT username
		    FROM ouruser.tbl_member
		    WHERE userid = #{userid}
	</select> -->
	
	<!-- ** -->
	<!-- userid의 username을 찾기 -->
	<select id="findRecruiter" resultType="String">
		SELECT username
		    FROM ouruser.tbl_member
		    WHERE userid = #{userid}
	</select>
	
	<!-- ** -->
	<!-- 구인글 첨부파일 블라인드 처리 -->
<!-- 	<update id="updateAttachFileDelFlag">
		UPDATE ouruser.tbl_
	</update> -->
	
	
</mapper>